.Services{
    margin-bottom: 100px;
}
.Services_title{
    text-decoration: underline;
    text-align: center;
    margin:70px 0;
}
.img_container {
    margin-left: 0;
    padding-left: 0;
    align-items: center;
    text-align: center;
}
.img_container img{
    width: 360px;
    
    margin-bottom: 100px;
}
.Services_info{
    padding-top: 40px;
}
.Services_info h3{
    text-decoration: underline;
}
.Services_info h5{
    margin-bottom: 30px;
}
.Services_info p{
    letter-spacing: 1px;
}